<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title th:text="#{page.name.dashboard}"></title>

<meta charset="utf-8" />
<th:block th:include="fragments/bars :: frgLinks"></th:block>
<th:block th:include="fragments/table :: frgLinks"></th:block>

</head>

<body>

	<div class="wrapper">
		<div class="wrapper">
			<th:block th:include="fragments/bars :: frgSideBar"></th:block>
			<!-- 	<th:block th:include="fragments/modals :: frgBoomProductModal"></th:block> -->

			<div class="main-panel">
				<th:block th:include="fragments/bars :: frgNavBar"></th:block>

				<!-- CONTENT -->
				<div class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-4">
								<div class="card">
									<div class="header">
										<h4 class="title">Email Statistics</h4>
										<p class="category">Last Campaign Performance</p>
									</div>
									<div class="content">
										<div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

										<div class="footer">
											<div class="legend">
												<i class="fa fa-circle text-info"></i> Open <i
													class="fa fa-circle text-danger"></i> Bounce <i
													class="fa fa-circle text-warning"></i> Unsubscribe
											</div>
											<hr />
											<div class="stats">
												<i class="fa fa-clock-o"></i> Campaign sent 2 days ago
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-8">
								<div class="card">
									<div class="header">
										<h4 class="title">Users Behavior</h4>
										<p class="category">24 Hours performance</p>
									</div>
									<div class="content">

										<div id="chartHours" class="ct-chart"></div>
										<div class="footer">
											<div class="legend">
												<i class="fa fa-circle text-info"></i> Open <i
													class="fa fa-circle text-danger"></i> Click <i
													class="fa fa-circle text-warning"></i> Click Second Time
											</div>
											<hr />
											<div class="stats">
												<i class="fa fa-history"></i> Updated 3 minutes ago
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>



						<div class="row">
							<div class="col-md-6">
								<div class="card ">
									<div class="header">
										<h4 class="title">2014 Sales</h4>
										<p class="category">All products including Taxes</p>
									</div>
									<div class="content">
										<div id="chartActivity" class="ct-chart"></div>

										<div class="footer">
											<div class="legend">
												<i class="fa fa-circle text-info"></i> Tesla Model S <i
													class="fa fa-circle text-danger"></i> BMW 5 Series
											</div>
											<hr />
											<div class="stats">
												<i class="fa fa-check"></i> Data information certified
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="card ">
									<div class="header">
										<h4 class="title">Tasks</h4>
										<p class="category">Backend development</p>
									</div>
									<div class="content">
										<div class="table-full-width">
											<table class="table">
												<tbody>
													<tr>
														<td><label class="checkbox"> <input
																type="checkbox" value="" data-toggle="checkbox" />
														</label></td>
														<td>Sign contract for "What are conference organizers
															afraid of?"</td>
														<td class="td-actions text-right">
															<button type="button" rel="tooltip" title="Edit Task"
																class="btn btn-info btn-simple btn-xs">
																<i class="fa fa-edit"></i>
															</button>
															<button type="button" rel="tooltip" title="Remove"
																class="btn btn-danger btn-simple btn-xs">
																<i class="fa fa-times"></i>
															</button>
														</td>
													</tr>
													<tr>
														<td><label class="checkbox"> <input
																type="checkbox" value="" data-toggle="checkbox"
																checked="" />
														</label></td>
														<td>Lines From Great Russian Literature? Or E-mails
															From My Boss?</td>
														<td class="td-actions text-right">
															<button type="button" rel="tooltip" title="Edit Task"
																class="btn btn-info btn-simple btn-xs">
																<i class="fa fa-edit"></i>
															</button>
															<button type="button" rel="tooltip" title="Remove"
																class="btn btn-danger btn-simple btn-xs">
																<i class="fa fa-times"></i>
															</button>
														</td>
													</tr>
													<tr>
														<td><label class="checkbox"> <input
																type="checkbox" value="" data-toggle="checkbox"
																checked="" />
														</label></td>
														<td>Flooded: One year later, assessing what was lost
															and what was found when a ravaging rain swept through
															metro Detroit</td>
														<td class="td-actions text-right">
															<button type="button" rel="tooltip" title="Edit Task"
																class="btn btn-info btn-simple btn-xs">
																<i class="fa fa-edit"></i>
															</button>
															<button type="button" rel="tooltip" title="Remove"
																class="btn btn-danger btn-simple btn-xs">
																<i class="fa fa-times"></i>
															</button>
														</td>
													</tr>
													<tr>
														<td><label class="checkbox"> <input
																type="checkbox" value="" data-toggle="checkbox" />
														</label></td>
														<td>Create 4 Invisible User Experiences you Never
															Knew About</td>
														<td class="td-actions text-right">
															<button type="button" rel="tooltip" title="Edit Task"
																class="btn btn-info btn-simple btn-xs">
																<i class="fa fa-edit"></i>
															</button>
															<button type="button" rel="tooltip" title="Remove"
																class="btn btn-danger btn-simple btn-xs">
																<i class="fa fa-times"></i>
															</button>
														</td>
													</tr>
													<tr>
														<td><label class="checkbox"> <input
																type="checkbox" value="" data-toggle="checkbox" />
														</label></td>
														<td>Read "Following makes Medium better"</td>
														<td class="td-actions text-right">
															<button type="button" rel="tooltip" title="Edit Task"
																class="btn btn-info btn-simple btn-xs">
																<i class="fa fa-edit"></i>
															</button>
															<button type="button" rel="tooltip" title="Remove"
																class="btn btn-danger btn-simple btn-xs">
																<i class="fa fa-times"></i>
															</button>
														</td>
													</tr>
													<tr>
														<td><label class="checkbox"> <input
																type="checkbox" value="" data-toggle="checkbox" />
														</label></td>
														<td>Unfollow 5 enemies from twitter</td>
														<td class="td-actions text-right">
															<button type="button" rel="tooltip" title="Edit Task"
																class="btn btn-info btn-simple btn-xs">
																<i class="fa fa-edit"></i>
															</button>
															<button type="button" rel="tooltip" title="Remove"
																class="btn btn-danger btn-simple btn-xs">
																<i class="fa fa-times"></i>
															</button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>

										<div class="footer">
											<hr />
											<div class="stats">
												<i class="fa fa-history"></i> Updated 3 minutes ago
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<th:block th:include="fragments/bars :: frgScripts"></th:block>
	<th:block th:include="fragments/table :: frgScripts"></th:block>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="assets/js/demo.js"></script>
	<script type="text/javascript">
					$(document)
							.ready(
									function() {
										demo.initChartist();
										$
												.notify(
														{
															icon : 'pe-7s-gift',
															message : "Bienvenido a <b>PSPD</b> - la aplicación que le permitirá organizar la planeación de sus pedidos."
														}, {
															type : 'warning',
															timer : 4000
														});
									});
				</script>
</body>
</html>

