<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- frgLinks, frgSideBar, INSIDE MAIN PANEL => frgNavBar, frgScripts -->
<head>
<title>Head Block</title>


<th:block th:fragment="frgLinks">

	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/logo.png" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<meta
		content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
		name='viewport' />
	<meta name="viewport" content="width=device-width" />

	<!-- Bootstrap core CSS     -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
	<!-- Animation library for notifications   -->
	<link href="assets/css/animate.min.css" rel="stylesheet" />

	<!--  Light Bootstrap Table core CSS    -->
	<link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />

	<!--  Bootstrap Select Plugin CSS    -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css" />

	<!--  CSS for Demo Purpose, don't include it in your project     -->
	<!-- <link href="assets/css/demo.css" rel="stylesheet" /> -->

	<!--     Fonts and icons     -->
	<link
		href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
		rel="stylesheet" />
	<link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300"
		rel='stylesheet' type='text/css' />
	<link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
</th:block>
</head>
<body>

	<div class="wrapper">
		<th:block th:fragment="frgSideBar">

			<th:block th:include="fragments/modals :: frgLogoutModal"></th:block>
			<th:block th:include="fragments/modals :: frgBoomProductModal"></th:block>

			<div class="sidebar" th:attr="data-color=${style}"
				data-image="assets/img/sidebar-5.jpg">

				<!--   
        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" 
        Tip 2: you can also add an image using data-image tag
    -->

				<div class="sidebar-wrapper">
					<div class="logo">
						<a href="/dashboard" class="simple-text" th:inline="text">[[#{project.name}]]</a>
					</div>
					<ul class="nav">
						<div th:each="menu : ${sidebar}">
							<li th:attr="class=${menu.active}"><a th:href="${menu.url}"
								th:inline="text">
									<div th:switch="${menu.tittle}">
										<p th:case="#{page.dashboard}">
											<i class="pe-7s-graph"></i> [[#{page.name.dashboard}]]
										</p>
										<p th:case="#{page.searchitem}">
											<i class="pe-7s-note2"></i> [[#{page.name.searchitem}]]
										</p>
										<p th:case="#{page.profile}">
											<i class="pe-7s-user"></i> [[#{page.name.profile}]]
										</p>
										<p th:case="#{page.boomprods}">[[#{page.name.boomprods}]]</p>
										<p th:case="#{page.boomorder}">[[#{page.name.boomorder}]]</p>
										<p th:case="#{page.users}">
											<i class="pe-7s-user"></i> [[#{page.name.users}]]
										</p>
										<p th:case="#{page.orders}">
											<i class="pe-7s-news-paper"></i> [[#{page.name.orders}]]
										</p>
										<p th:case="#{page.roles}">[[#{page.name.roles}]]</p>
									</div>

							</a></li>

						</div>

						<!-- 						
						<i class="pe-7s-user"></i>
						<i class="pe-7s-note2"></i>
						<i class="pe-7s-news-paper"></i>
						<i class="pe-7s-science"></i>
						<i class="pe-7s-map-marker"></i>
						<i class="pe-7s-bell"></i>
 -->
					</ul>
				</div>
			</div>
		</th:block>

		<div class="main-panel">
			<th:block th:fragment="frgNavBar">
				<nav class="navbar navbar-default navbar-fixed">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle"
								data-toggle="collapse" data-target="#navigation-example-2">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
							<a class="navbar-brand" th:href="${page.url}" th:inline="text">
								<div th:switch="${page.tittle}">
									<div th:case="#{page.dashboard}">[[#{page.name.dashboard}]]</div>
									<div th:case="#{page.searchitem}">[[#{page.name.searchitem}]]</div>
									<div th:case="#{page.profile}">[[#{page.name.profile}]]</div>
									<div th:case="#{page.boomprod}">[[#{page.name.boomprod}]]</div>
									<div th:case="#{page.boomords}">[[#{page.name.boomords}]]</div>
									<div th:case="#{page.users}">[[#{page.name.users}]]</div>
									<div th:case="#{page.orders}">[[#{page.name.orders}]]</div>
									<div th:case="#{page.roles}">[[#{page.name.roles}]]</div>
								</div>
							</a>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-left">
								<li><a href="#" class="dropdown-toggle"
									data-toggle="dropdown"> <i class="fa fa-dashboard"></i>
								</a></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown"> <i class="fa fa-globe"></i> <b
										class="caret"></b> <span class="notification">5</span>
								</a>
									<ul th:unless="${alerts} == null" class="dropdown-menu">
										<li th:each="alert : ${alerts}" th:text="${alert.description}">Item
											description here...</li>
									</ul>
									<ul th:if="${alerts} == null" class="dropdown-menu">
										<li><a href="#" th:inline="text">No
												[[#{general.alerts}]]</a></li>
									</ul></li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/testprofile"></a></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown" th:inline="text">
										[[${userapp.name}]] <b class="caret"></b>
								</a>
									<ul class="dropdown-menu">
										<li><a href="/profile" th:inline="text">[[#{menu.profile}]]</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something</a></li>
										<li class="divider"></li>
										<li><a href="#" data-toggle="modal"
											data-target="#offModal" th:inline="text">[[#{action.logout}]]</a></li>
									</ul></li>
								<li><a href="#" data-toggle="modal" data-target="#offModal"
									th:inline="text" class="btn btn-info"> [[#{action.logout}]]
								</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</th:block>
		</div>
	</div>
	<th:block th:fragment="frgScripts">
		<script src="js/jquery.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>

		<!--  Checkbox, Radio & Switch Plugins -->
		<script src="assets/js/bootstrap-checkbox-radio-switch.js"></script>

		<!--  Charts Plugin -->
		<script src="assets/js/chartist.min.js"></script>

		<!--  Notifications Plugin    -->
		<script src="assets/js/bootstrap-notify.js"></script>

		<!--  Bootstrap Select Plugin JS  -->
		<script src="assets/js/bootstrap-select.min.js"></script>
		
		<script src="/assets/bootstrap-table/src/extensions/editable/bootstrap-table-editable.js"></script>
    <script src="/assets/bootstrap-table/src/bootstrap-editable.js"></script>
		
		<!--  Google Maps Plugin    -->
		<script type="text/javascript"
			src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

		<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
		<script src="assets/js/light-bootstrap-dashboard.js"></script>

		<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
		<script src="assets/js/demo.js"></script>
		<script type="text/javascript">
		/*<![CDATA[*/
			/*MODALS BUTTONS*/
			$('#boomProductModal').on('shown.bs.modal', function() {
				//var row = JSON.stringify(getRowSelections()[0]); // To print object
				var row = getRowSelections()[0];
				/* alert(row.referencia); */
				$('#inputRefer').val(row.referencia);
				$('#boomproduct').prop('disabled', true);
			})

			$('#boomOrderModal').on('shown.bs.modal', function() {
				//var row = JSON.stringify(getRowSelections()[0]); // To print object
				var row = getRowSelections()[0];
				/* alert(row.referencia); */
				$('#inputRefer').val(row.referencia);
				$boomorder.prop('disabled', true);
			})

			/*END MODAL BUTTONS*/
		/*]]>*/
		</script>

	</th:block>
	<script>
		/*<![CDATA[*/
		$(document)
		.ready(
				function() {
					demo.initChartist();
					$
							.notify(
									{
										icon : 'pe-7s-gift',
										message : "Welcome to <b>PSPD</b> - a great application to manage your orders."
									}, {
										type : 'info',
										timer : 4000
									});
				});
		/*]]>*/
		</script>
</body>
</html>