<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<!-- 
<link rel="stylesheet"
	th:href="'https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/slate/bootstrap.min.css'" />
 -->
<!-- Bootstrap Core CSS -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<!-- Custom CSS-->
<link href="css/sb-admin.css" rel="stylesheet" />
<!-- Morris Charts CSS-->
<link href="css/plugins/morris.css" rel="stylesheet" />
<!-- Custom Fonts d-->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet"
	type="text/css" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:fragment="frgNavBarMenu">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/" th:inline="text">[[#{project.name}]]</a>
		</div>
		<!-- Top Menu Items -->
		<ul class="nav navbar-right top-nav">
			<li class="dropdown"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown"><i class="fa fa-envelope"></i> <b
					class="caret"></b></a>
				<ul class="dropdown-menu message-dropdown"
					th:unless="${messages.read}" th:each="message : ${messages.list}">
					<li class="message-preview"><a th:href="${message.link}">
							<div class="media">
								<span class="pull-left"> <img class="media-object"
									th:src="${message.icon}" alt="" />
								</span>
								<div class="media-body">
									<h5>
									<strong>[[${message.from}]]</strong>
									</h5>
									<p class="small text-muted" th:inline="text">
										<i class="fa fa-clock-o"></i> [[${message.date}]]
									</p>
									<p th:text="${message.preview}"></p>
								</div>
							</div>
					</a></li>
					<li class="message-footer"><a th:href="${messages.inbox}"
						th:text="#{msgs.goto.inbox}">Read All New Messages</a></li>
					<li class="message-footer"><a th:href="${messages.mark.ready}"
						th:text="#{msgs.mark.ready}">Mark all as read</a></li>
				</ul></li>
			<li class="dropdown"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown"><i class="fa fa-bell"></i> <b
					class="caret"></b></a>
				<ul class="dropdown-menu alert-dropdown" th:unless="${alerts.read}"
					th:each="alert : ${alerts.list}">
					<li><a href="${alert.link}" th:text="${alert.name}">Alert
							Name <span th:attr="class=${alert.type}"
							th:text="${alert.preview}">Alert Preview</span>
					</a></li>
					<li class="divider"></li>
					<li><a href="${alerts.inbox}">View All</a></li>
				</ul></li>
			<li class="dropdown"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown" th:inline="text"><i class="fa fa-user"></i>
					[[${userapp.name}]] <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="/profile" th:inline="text"><i
							class="fa fa-fw fa-user"></i> [[#{menu.profile}]]</a></li>
					<li><a href="/inbox" th:inline="text"><i
							class="fa fa-fw fa-envelope"></i> [[#{menu.inbox}]]</a></li>
					<li><a href="/config"><i class="fa fa-fw fa-gear"></i>[[#{menu.config}]]</a>
					</li>
					<li class="divider"></li>
					<li><a href="#" data-toggle="modal" data-target="#offModal"
						th:inline="text"><i class="fa fa-fw fa-power-off"></i>[[#{general.logout}]]
					</a></li>
				</ul></li>
		</ul>
		<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav side-nav">
				<li><a href="/dashboard"><i class="fa fa-fw fa-dashboard"></i>
						[[#{menu.dashboard}]]</a></li>
				<li><a href="#"><i class="fa fa-fw fa-bar-chart-o"></i>
						Charts</a></li>
				<li><a href="table"><i class="fa fa-fw fa-table"></i>
						Tables</a></li>
				<!-- <li><a href="forms.html"><i class="fa fa-fw fa-edit"></i>
							Forms</a></li>
					<li><a href="bootstrap-elements.html"><i
							class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a></li>
					<li><a href="bootstrap-grid.html"><i
							class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a></li>
					<li><a href="javascript:;" data-toggle="collapse"
						data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i>
							Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
						<ul id="demo" class="collapse">
							<li><a href="#">Dropdown Item</a></li>
							<li><a href="#">Dropdown Item</a></li>
						</ul></li>
					<li class="active"><a href="blank-page.html"><i
							class="fa fa-fw fa-file"></i> Blank Page</a></li>
					<li><a href="index-rtl.html"><i
							class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a></li> -->
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</nav>


	<div id="wrapper" th:fragment="frgMenu">
		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/dashboard">PSPD</a>
			</div>
			<!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"><i class="fa fa-envelope"></i> <b
						class="caret"></b></a>
					<ul class="dropdown-menu message-dropdown">
						<li class="message-preview"><a href="#">
								<div class="media">
									<span class="pull-left"> <img class="media-object"
										src="/images/welcome.jpg" width="50" height="50" alt="" />
									</span>
									<div class="media-body">
										<h5 class="media-heading" th:inline="text">
											<strong>[[${userapp.name}]]</strong>
										</h5>
										<p class="small text-muted">
											<i class="fa fa-clock-o"></i> Bienvenido
										</p>
										<p>Queremos darle la bienvenida a nuestro sistema, algunas
											opciones aun estan en desarrollo.</p>
									</div>
								</div>
						</a></li>
						<li class="message-preview"><a href="#">
								<div class="media">
									<span class="pull-left"> <img class="media-object"
										src="/images/happy.jpg" width="50" height="50" alt="" />
									</span>
									<div class="media-body">
										<h5 class="media-heading" th:inline="text">
											<strong>[[${userapp.name}]]</strong>
										</h5>
										<p class="small text-muted">
											<i class="fa fa-clock-o"></i> Hoy 9 de Noviembre de 2015
										</p>
										<p>Feliz Cumpleaños!, Papi este es un pequeño detalle
											espero me tenga paciencia y le guste mucho, aun estoy
											trabajando en mas detalles paa que pueda disfrutarla en este
											ultimo año de trabajo. Te amo</p>
									</div>
								</div>
						</a></li>
						<li class="message-footer"><a href="#">Leer todos los
								mensajes nuevos </a></li>
					</ul></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"><i class="fa fa-bell"></i> <b
						class="caret"></b></a>
					<ul class="dropdown-menu alert-dropdown">
						<li><a href="#">Feliz Cumpleaños!<span
								class="label label-default">TE AMO</span></a></li>
						<li class="divider"></li>
						<li><a href="#">Ver Todos</a></li>
					</ul></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" th:inline="text"><i class="fa fa-user"></i>
						[[${userapp.name}]] <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#"><i class="fa fa-fw fa-user"></i> Perfil</a></li>
						<li><a target="_blank" href="https://webmail.une.net.co/"><i
								class="fa fa-fw fa-envelope"></i> Correo</a></li>
						<li><a href="#"><i class="fa fa-fw fa-gear"></i>
								Configuracion</a></li>
						<li class="divider"></li>
						<li><a href="#" data-toggle="modal" data-target="#offModal"
							th:inline="text"><i class="fa fa-fw fa-power-off"></i>[[#{lbl.logout}]]
						</a></li>
					</ul></li>
			</ul>
			<!-- SIDEBAR Menu Items - These collapse to the responsive navigation menu on small screens -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav side-nav">
					<li class="active"><a href="#"><i
							class="fa fa-fw fa-dashboard"></i> Dashboard</a></li>
					<li><a href="invoice"><i class="fa fa-fw fa-bar-chart-o"></i>
							Nueva Factura</a></li>
					<li><a href="table"><i class="fa fa-fw fa-table"></i>
							Tables</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>

		<div id="page-wrapper">

			<div class="container-fluid">

				<!-- Page Heading -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">
							Dashboard <small>Pantalla Principal</small>
						</h1>
						<ol class="breadcrumb">
							<li class="active"><i class="fa fa-dashboard"></i> <a
								href="/dashboard">Dashboard</a></li>
							<li><i class="fa fa-file"></i> Facturas</li>
						</ol>
					</div>
				</div>
				<!-- /.row -->
				<div class="row">
					<div class="col-xs-6 col-sm-4">
						<div id="myCarousel" class="carousel slide" data-ride="carousel">
							<!-- <ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
							<li data-target="#myCarousel" data-slide-to="3" class="active"></li>
						</ol> -->
							<!-- Carousel items -->
							<div class="carousel-inner">
								<div class="active item">
									<img src="/images/welcome.jpg" class="img-rounded" />
									<h3>Bienvenido!!</h3>
									<p>Este es el demo de su nueva aplicación. Usted podrá
										crear nuevas facturas, enviarlas a los clientes por correo,
										tener alertas de cuales facturas aun no estan pendientes por
										pago. Y muchas cosas más...Por ahora algunas funciones estan
										bloqueadas...</p>
								</div>
								<div class="item">
									<img src="/images/birthday.jpg" class="img-rounded" />
									<h3>Felíz Cumpleaños!</h3>
									<p>
										Te amo mucho, espero este detalle le guste.Aun estoy en
										proceso de desarrollo, han sido varios trasnochos pero es con
										todo mi amor.<br /> Felíz Cumpleaños Att: Marlon
									</p>

								</div>
								<div class="item">
									<img src="/images/happy.jpg" class="img-rounded" />
									<h3>Felíz Cumpleaños!</h3>
								</div>
								<div class="item">
									<img src="/images/felizcumple.jpg" class="img-circle" />
									<h3>Felíz Cumpleaños!!!</h3>
									<p>
										Estoy muy felíz que Dios te haya dado un año más de vida<br />
										Te amo con todo mi corazón. <br />Espero pases muy felíz tu
										cumpleaños. <br />Este es un detalle de toda mi familia, que
										me permitieron trasnochar y desvelarlos para poderle hacer lo
										que esta viendo Aunque aun no esta completo, quise regalarle
										algo diferente a lo acostumbrado. <br />Te amo - Marlon Olaya
									</p>
								</div>
							</div>
							<!-- Carousel nav -->
							<a class="carousel-control left" href="#myCarousel"
								data-slide="prev">&lsaquo;</a> <a class="carousel-control right"
								href="#myCarousel" data-slide="next">&rsaquo;</a>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-8">
						<div class="col-lg-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										<i class="fa fa-clock-o fa-fw"></i> Tasks Panel
									</h3>
								</div>
								<div class="panel-body">
									<div class="list-group">
										<a href="#" class="list-group-item"> <span class="badge">just
												now</span> <i class="fa fa-fw fa-calendar"></i> Calendar updated
										</a> <a href="#" class="list-group-item"> <span class="badge">4
												minutes ago</span> <i class="fa fa-fw fa-comment"></i> Commented on
											a post
										</a> <a href="#" class="list-group-item"> <span class="badge">23
												minutes ago</span> <i class="fa fa-fw fa-truck"></i> Order 392
											shipped
										</a> <a href="#" class="list-group-item"> <span class="badge">46
												minutes ago</span> <i class="fa fa-fw fa-money"></i> Invoice 653
											has been paid
										</a> <a href="#" class="list-group-item"> <span class="badge">1
												hour ago</span> <i class="fa fa-fw fa-user"></i> A new user has
											been added
										</a> <a href="#" class="list-group-item"> <span class="badge">2
												hours ago</span> <i class="fa fa-fw fa-check"></i> Completed task:
											"pick up dry cleaning"
										</a> <a href="#" class="list-group-item"> <span class="badge">yesterday</span>
											<i class="fa fa-fw fa-globe"></i> Saved the world
										</a> <a href="#" class="list-group-item"> <span class="badge">two
												days ago</span> <i class="fa fa-fw fa-check"></i> Completed task:
											"fix error on sales page"
										</a>
									</div>
									<div class="text-right">
										<a href="#">View All Activity <i
											class="fa fa-arrow-circle-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- END CAROUSEL -->

			</div>
			<!-- /.container-fluid -->

		</div>
		<!-- /#page-wrapper -->

	</div>
		<script src="js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript Local -->
	<script src="js/bootstrap.min.js"></script>


	<!-- Morris Charts JavaScript -->
	<script src="js/plugins/morris/raphael.min.js"></script>
	<script src="js/plugins/morris/morris.min.js"></script>
	<script src="js/plugins/morris/morris-data.js"></script>
	
</body>
</html>
