<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="frgHeaderBase">

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<!-- Bootstrap CORE From bootswatch-->
<!--  
<link rel="stylesheet" th:href="'https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/'+${style}+'/bootstrap.min.css'" /> -->

<!-- CSS LINKS -->
<!-- Bootstrap Core CSS -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<!-- Custom CSS-->
<link href="css/sb-admin.css" rel="stylesheet" />
<!-- Morris Charts CSS-->
<link href="css/plugins/morris.css" rel="stylesheet" />
<!-- Custom Fonts d-->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet"
	type="text/css" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<!-- JAVASCRIPT LINKS -->
<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap Core JavaScript Local -->
<script src="js/bootstrap.min.js"></script>
<!-- Morris Charts JavaScript -->
<script src="js/plugins/morris/raphael.min.js"></script>
<script src="js/plugins/morris/morris.min.js"></script>
<script src="js/plugins/morris/morris-data.js"></script>
<!-- Bootstrap Core JavaScript Remote -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

</head>
<body>
	<!-- LOGOUT Modal -->
	<th:block th:fragment="frgLogoutModal">
		<div class="modal fade" role="dialog" id="offModal" tabindex="-1"
			aria-labelledby="gridSystemModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="gridSystemModalLabel"
							th:tetx="#{general.logout}">Saliendo...</h4>
					</div>
					<form method="post" th:action="@{/logout}">
						<div class="modal-body text-center">
							<h4 th:text="#{msgs.confirm.to.logout}">Are you sure you
								want to logout?</h4>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal" th:text="#{action.cancel}">Cancel</button>
							<button type="submit" class="btn btn-primary" th:inline="text">
								[[#{action.logout}]]</button>
						</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
	</th:block>
	<!-- /.LOGOUT-MODAL -->

	<!-- BOOM PRODUCTO Modal -->
	<th:block th:fragment="frgBoomProductModal">
		<div class="modal fade" role="dialog" id="boomProductModal"
			tabindex="-1" aria-labelledby="gridSystemModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="gridSystemModalLabel"
							th:text="#{general.boom.producto}"></h4>
					</div>
					<form method="post" th:action="@{/productBoom}">
						<!-- th:modelAttribute="ObjectAD" -->
						<div class="modal-body">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon" id="addonRefer"><i
										class="glyphicon glyphicon-barcode"></i></span> <input type="text"
										class="form-control" aria-describedby="addonRefer"
										id="inputRefer" name="referencia"
										style="text-align: center; text-transform: uppercase;"
										th:placeholder="#{general.referencia}" required="required" />
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal" th:text="#{action.cancel}">Cancel</button>
							<button type="submit" class="btn btn-warning" th:inline="text">
								<i class="glyphicon glyphicon-flame"></i>[[#{action.boom.product}]]
							</button>
						</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.BOOM PRODUCTO-MODAL -->
	</th:block>
	
		<!-- BOOM PRODUCTO Modal -->
	<th:block th:fragment="frgBoomOrderModal">
		<div class="modal fade" role="dialog" id="boomOrderModal"
			tabindex="-1" aria-labelledby="gridSystemModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="gridSystemModalLabel"
							th:text="#{general.boom.producto}"></h4>
					</div>
					<form method="post" th:action="@{/orderBoom}">
						<!-- th:modelAttribute="ObjectAD" -->
						<div class="modal-body">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon" id="addonRefer"><i
										class="glyphicon glyphicon-barcode"></i></span> <input type="text"
										class="form-control" aria-describedby="addonRefer"
										id="inputRefer" name="referencia"
										style="text-align: center; text-transform: uppercase;"
										th:placeholder="#{general.referencia}" required="required" />
								</div>
								<!-- <div class="control-group">
										<div class="controls">
											<div class="input-prepend">
												<span class="add-on"><i
													class="glyphicon glyphicon-barcode"></i></span> <input
													class="span2" id="inputRefer" name="referencia" type="text"
													style="text-align: center; text-transform: uppercase;"
													th:placeholder="#{general.referencia}" required="required" />
											</div>
										</div>
									</div> -->
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal" th:text="#{action.cancel}">Cancel</button>
							<button type="submit" class="btn btn-warning" th:inline="text">
								<i class="glyphicon glyphicon-flame"></i>[[#{action.boom.order}]]
							</button>
						</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.BOOM PRODUCTO-MODAL -->
	</th:block>
</body>

</html>