<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Table Test</title>

<!-- Bootstrap - Tables -->
<th:block th:fragment="frgLinks">
	<link rel="stylesheet"
		href="assets/bootstrap-table/src/bootstrap-table.css" />
	<link rel="stylesheet"
		href="assets/bootstrap-table/src/bootstrap-editable.css" />
</th:block>
</head>

<body>
	<div class="wrapper">
		<th:block th:include="fragments/bars :: frgSideBar"></th:block>
		<div class="main-panel">
			<th:block th:include="fragments/bars :: frgNavBar"></th:block>
			<!-- Content -->
			<div class="content">
				<div class="container-fluid">
					<th:block th:fragment="frgOrderTable">
						<div class="row">
							<div id="toolbar">
								<button id="boomorder" class="btn btn-warning"
									data-toggle="modal" data-target="#boomOrderModal"
									disabled="disabled" th:inline="text">
									<i class="glyphicon glyphicon-fire"></i>
									[[#{action.boom.order}]]]
								</button>
							</div>
							<table id="table" data-toolbar="#toolbar"
								data-th-attr="data-single-select=${table.singleselect}, 
								data-url=${table.srcurl}, 
								data-search=${table.enablesearch}, 
								data-show-refresh=${table.showrefresh}, 
								data-show-toggle=${table.showtoggle}, 
								data-show-columns=${table.showcolumns}, 
								data-show-export=${table.showexport}, 
								data-detail-view=${table.detailview}, 
								data-pagination=${table.enablepag}, 
								data-side-pagination=${table.sidepag}, 
								data-id-field=${table.idfield}, 
								data-show-footer=${table.showfooter}"
								data-checkbox="true" data-locale="es-ES"
								data-show-pagination-switch="true"
								data-detail-formatter="detailFormatter"
								data-minimum-count-columns="2"
								data-page-list="[10, 25, 50, 100, ALL]">
								<!-- ADD TABLE HEADERS -->
								<thead>
									<tr>
										<th data-field="state" data-checkbox="true"></th>
										<div th:each="thead : ${theads}">
											<th th:attr="data-field=${thead.field}" data-sortable="true"
												th:text="${thead.tittle}">Item ID</th>
										</div>
										<th data-field="operate" data-formatter="operateFormatter"
											data-align="center" data-events="operateEvents"><i
											class="glyphicon glyphicon-heart"></i><i
											class="glyphicon glyphicon-remove"></i></th>
									</tr>
								</thead>

							</table>
						</div>
					</th:block>

					<th:block th:fragment="frgProductTable">
						<div class="row">
							<div id="toolbar">
								<button id="boomproduct" class="btn btn-warning"
									data-toggle="modal" data-target="#boomProductModal"
									disabled="disabled" th:inline="text">
									<i class="glyphicon glyphicon-fire"></i>
									[[#{action.boom.product}]]
								</button>
							</div>
							<table id="table" data-toolbar="#toolbar"
								data-th-attr="data-single-select=${table.singleselect}, 
								data-url=${table.srcurl}, 
								data-search=${table.enablesearch}, 
								data-show-refresh=${table.showrefresh}, 
								data-show-toggle=${table.showtoggle}, 
								data-show-columns=${table.showcolumns}, 
								data-show-export=${table.showexport}, 
								data-detail-view=${table.detailview}, 
								data-pagination=${table.enablepag}, 
								data-side-pagination=${table.sidepag}, 
								data-id-field=${table.idfield}, 
								data-show-footer=${table.showfooter}"
								data-search-on-enter-key="true" data-checkbox="true"
								data-locale="es-ES" data-show-pagination-switch="true"
								data-detail-formatter="detailFormatter"
								data-minimum-count-columns="2"
								data-page-list="[10, 25, 50, 100, ALL]">
								<!-- ADD TABLE HEADERS -->
								<thead>
									<tr>
										<th data-field="state" data-checkbox="true"></th>
										<div th:each="thead : ${theads}">
											<th th:attr="data-field=${thead.field}" data-sortable="true" data-editable="true" data-editable-url="/apijson"
											th:text="${thead.tittle}">Item ID</th>
										</div>
										<th data-field="operate" data-formatter="operateFormatter"
											data-events="operateEvents"
											><i class="glyphicon glyphicon-heart"></i><i
											class="glyphicon glyphicon-remove"></i></th>
									</tr>
								</thead>

							</table>
						</div>
					</th:block>

					<div class="row">
						<th:block th:fragment="frgUserToolBar">

							<div id="toolbar">
								<button id="boomproduct" class="btn btn-warning"
									data-toggle="modal" data-target="#boomProductModal"
									disabled="disabled" th:inline="text">
									<i class="glyphicon glyphicon-fire"></i>
									[[#{action.boom.product}]]
								</button>
							</div>
						</th:block>
						<th:block th:fragment="frgTable">
							<table id="table" data-toolbar="#toolbar"
								data-th-attr="data-single-select=${table.singleselect}, 
								data-url=${table.srcurl}, 
								data-search=${table.enablesearch}, 
								data-show-refresh=${table.showrefresh}, 
								data-show-toggle=${table.showtoggle}, 
								data-show-columns=${table.showcolumns}, 
								data-show-export=${table.showexport}, 
								data-detail-view=${table.detailview}, 
								data-pagination=${table.enablepag}, 
								data-side-pagination=${table.sidepag}, 
								data-id-field=${table.idfield}, 
								data-show-footer=${table.showfooter}"
								data-search-on-enter-key="true" data-checkbox="true"
								data-locale="es-ES" data-show-pagination-switch="true"
								data-detail-formatter="detailFormatter"
								data-minimum-count-columns="2"
								data-page-list="[10, 25, 50, 100, ALL]">
								<!-- ADD TABLE HEADERS -->
								<thead>
									<tr>
										<th data-field="state" data-checkbox="true"></th>
										<div th:each="thead : ${theads}">
											<th th:attr="data-field=${thead.field}" data-sortable="true"
												th:text="${thead.tittle}">Item ID</th>
										</div>
										<th data-field="operate" data-formatter="operateFormatter"
											data-events="operateEvents"><i
											class="glyphicon glyphicon-heart"></i><i
											class="glyphicon glyphicon-remove"></i></th>
									</tr>
								</thead>

							</table>

						</th:block>
					</div>
				</div>
			</div>


			<!-- END CONTENT -->
		</div>
	</div>

	<!-- LOGOUT Modal -->
	<div th:include="fragments/modals :: frgGeneralModals"></div>

	<th:block th:include="fragments/bars :: frgScripts"></th:block>

	<th:block th:fragment="frgScripts">
		<script>
			/*<![CDATA[*/
			$.fn.editable.defaults.mode = 'inline';
			var $table = $('#table'), $boomorder = $('#boomorder'), $boomproduct = $('#boomproduct'), selections = [];
			function initTable() {
				$table.bootstrapTable();
				// sometimes footer render error.
				setTimeout(function() {
					$table.bootstrapTable('resetView');
					$table.bootstrapTable('hideColumn', 'id');
				}, 200);
				$table.on('check.bs.table uncheck.bs.table '
						+ 'check-all.bs.table uncheck-all.bs.table',
						function() {
							$boomorder.prop('disabled', !$table
									.bootstrapTable('getSelections').length);
							$boomproduct.prop('disabled', !$table
									.bootstrapTable('getSelections').length);
							// save your data, here just save the current page
							selections = getIdSelections();
							// push or splice the selections if you want to save all data selections
						});
				$table.on('expand-row.bs.table', function(e, index, row,
						$detail) {
					if (index % 2 == 1) {
						$detail.html('Loading from ajax request...');
						$.get('LICENSE', function(res) {
							$detail.html(res.replace(/\n/g, '<br>'));
						});
					}
				});
				$table.on('all.bs.table', function(e, name, args) {
					console.log(name, args);
				});
				$remove.click(function() {
					var ids = getIdSelections();

					$table.bootstrapTable('remove', {
						field : 'id',
						values : ids
					});
					$remove.prop('disabled', true);
				});

				/*MODALS BUTTONS
				$('#boomProductModal').on('shown.bs.modal', function () {
					//var row = JSON.stringify(getRowSelections()[0]); // To print object
					var row = getRowSelections()[0];
					alert(row.referencia);
					$('#inputRefer').val(row.referencia);
					$boomproduct.prop('disabled', true); 
				})
				
				$('#boomOrderModal').on('shown.bs.modal', function () {
					//var row = JSON.stringify(getRowSelections()[0]); // To print object
					var row = getRowSelections()[0];
					/* alert(row.referencia); 
					$('#inputRefer').val(row.referencia);
					$boomorder.prop('disabled', true); 
				})
				
				END MODAL BUTTONS*/

				$(window).resize(function() {
					$table.bootstrapTable('resetView', {
						height : getHeight()
					});
				});
			}
			function objToString(obj) {
				var str = '';
				for ( var p in obj) {
					if (obj.hasOwnProperty(p)) {
						str += p + '::' + obj[p] + '\n';
					}
				}
				return str;
			}
			function getIdSelections() {
				return $.map($table.bootstrapTable('getSelections'), function(
						row) {
					return row.id
				});
			}
			/*molaya add*/
			function getRowSelections() {
				return $.map($table.bootstrapTable('getSelections'), function(
						row) {
					return row;
				});
			}
			function responseHandler(res) {
				$.each(res.rows, function(i, row) {
					row.state = $.inArray(row.id, selections) !== -1;
				});
				return res;
			}
			function detailFormatter(index, row) {
				var html = [];
				$.each(row, function(key, value) {
					html.push('<p><b>' + key + ':</b> ' + value + '</p>');
				});
				return html.join('');
			}

			function operateFormatter(value, row, index) {
				return [
						'<a class="like" href="javascript:void(0)" title="Like">',
						'<i class="glyphicon glyphicon-heart"></i>',
						'</a>  ',
						'<a class="remove" href="javascript:void(0)" title="Remove">',
						'<i class="glyphicon glyphicon-remove"></i>', '</a>' ]
						.join('');
			}
			window.operateEvents = {
				'click .like' : function(e, value, row, index) {
					alert('You click like action, row: ' + JSON.stringify(row));
				},
				'click .remove' : function(e, value, row, index) {
					$table.bootstrapTable('remove', {
						field : 'id',
						values : [ row.id ]
					});
				}
			};
			function totalTextFormatter(data) {
				return 'Total';
			}
			function totalNameFormatter(data) {
				return data.length;
			}
			function totalPriceFormatter(data) {
				var total = 0;
				$.each(data, function(i, row) {
					total += +(row.cant.substring(1));
				});
				return total;
			}
			function getHeight() {
				return $(window).height() - $('h1').outerHeight(true);
			}
			$(function() {
				var scripts = [
						location.search.substring(1)
								|| 'assets/bootstrap-table/src/bootstrap-table.js',
						'assets/bootstrap-table/src/extensions/export/bootstrap-table-export.js',
						'assets/bootstrap-table/src/tableExport.js',
						'assets/bootstrap-table/src/extensions/editable/bootstrap-table-editable.js',
						'assets/bootstrap-table/src/bootstrap-editable.js' ], eachSeries = function(
						arr, iterator, callback) {
					callback = callback || function() {
					};
					if (!arr.length) {
						return callback();
					}
					var completed = 0;
					var iterate = function() {
						iterator(arr[completed], function(err) {
							if (err) {
								callback(err);
								callback = function() {
								};
							} else {
								completed += 1;
								if (completed >= arr.length) {
									callback(null);
								} else {
									iterate();
								}
							}
						});
					};
					iterate();
				};
				eachSeries(scripts, getScript, initTable);
			});
			function getScript(url, callback) {
				var head = document.getElementsByTagName('head')[0];
				var script = document.createElement('script');
				script.src = url;
				var done = false;
				// Attach handlers for all browsers
				script.onload = script.onreadystatechange = function() {
					if (!done
							&& (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) {
						done = true;
						if (callback)
							callback();
						// Handle memory leak in IE
						script.onload = script.onreadystatechange = null;
					}
				};
				head.appendChild(script);
				// We handle everything using the script element injection
				return undefined;
			}

			/*]]>*/
		</script>
	</th:block>
</body>

</html>
