<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>BASE</title>

<!-- 
<link rel="stylesheet"
	th:href="'https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/slate/bootstrap.min.css'" />
 -->
<!-- Bootstrap Core CSS -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<!-- Custom CSS-->
<link href="css/sb-admin.css" rel="stylesheet" />
<!-- Morris Charts CSS-->
<link href="css/plugins/morris.css" rel="stylesheet" />
<!-- Custom Fonts d-->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet"
	type="text/css" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<div id="wrapper">
		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html" th:inline="text">[[#{project.name}]]</a>
			</div>
			<!-- Top Menu Items -->

			<ul class="nav navbar-right top-nav">
				<!--
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"><i class="fa fa-envelope"></i> <b
						class="caret"></b></a> 
					<ul class="dropdown-menu message-dropdown"
						th:unless="${messages.read}" th:each="message : ${messages.list}">
						<li class="message-preview"><a th:href="${message.link}">
								<div class="media">
									<span class="pull-left"> <img class="media-object"
										th:src="${message.ico}" alt="" />
									</span>
									<div class="media-body">
										<h5>
										<strong>[[#{message.from}]]</strong>
										</h5>
										<p class="small text-muted" th:inline="text">
											<i class="fa fa-clock-o"></i> [[#{message.date}]]
										</p>
										<p th:text="${message.preview}"></p>
									</div>
								</div>
						</a></li>
						<li class="message-footer"><a th:href="${messages.inbox}"
							th:text="#{menu.inbox}">Read All New Messages</a></li>
						<li class="message-footer"><a
							th:href="${messages.mark.ready}" th:text="#{msgs.mark.ready}">Read
								All New Messages</a></li>
					</ul></li>
					
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"><i class="fa fa-bell"></i> <b
						class="caret"></b></a>
					<ul class="dropdown-menu alert-dropdown" th:unless="${alerts.read}"
						th:each="alert : ${alerts.list}">
						<li><a href="${alert.link}" th:text="${alert.name}">Alert
								Name <span th:attr="class=${alert.type}"
								th:text="${alert.number}">Alert Badge</span>
						</a></li>
						<li class="divider"></li>
						<li><a href="${alerts.inbox}" th:text="#{menu.inbox}">View All</a></li>
					</ul></li>
					-->
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" th:inline="text"><i class="fa fa-user"></i>
						[[${userapp.name}]] <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/profile" th:inline="text"><i
								class="fa fa-fw fa-user"></i> [[#{menu.profile}]]</a></li>
						<li><a href="/inbox" th:inline="text"><i
								class="fa fa-fw fa-envelope"></i> [[#{menu.inbox}]]</a></li>
						<li><a href="/config"><i class="fa fa-fw fa-gear"></i>[[#{menu.config}]]</a>
						</li>
						<li class="divider"></li>
						<li><a href="#" data-toggle="modal" data-target="#offModal"
							th:inline="text"><i class="fa fa-fw fa-power-off"></i>[[#{general.logout}]]
						</a></li>
					</ul></li>
			</ul>
			<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav side-nav">
					<li><a href="/dashboard"><i class="fa fa-fw fa-dashboard"></i>
							[[#{menu.dashboard}]]</a></li>
					<li><a href="#"><i class="fa fa-fw fa-bar-chart-o"></i>
							Charts</a></li>
					<li><a href="table"><i class="fa fa-fw fa-table"></i>
							Tables</a></li>
					<!-- <li><a href="forms.html"><i class="fa fa-fw fa-edit"></i>
							Forms</a></li>
					<li><a href="bootstrap-elements.html"><i
							class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a></li>
					<li><a href="bootstrap-grid.html"><i
							class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a></li>
					<li><a href="javascript:;" data-toggle="collapse"
						data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i>
							Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
						<ul id="demo" class="collapse">
							<li><a href="#">Dropdown Item</a></li>
							<li><a href="#">Dropdown Item</a></li>
						</ul></li>
					<li class="active"><a href="blank-page.html"><i
							class="fa fa-fw fa-file"></i> Blank Page</a></li>
					<li><a href="index-rtl.html"><i
							class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a></li> -->
				</ul>
			</div>
			<!-- /.navbar-collapse -->

		</nav>

		<div id="page-wrapper">

			<div class="container-fluid">

				<!-- Page Heading -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">
							Blank Page <small>Subheading</small>
						</h1>
						<ol class="breadcrumb">
							<li><i class="fa fa-dashboard"></i> <a href="index.html">Dashboard</a>
							</li>
							<li class="active"><i class="fa fa-file"></i> Blank Page</li>
						</ol>
					</div>
				</div>
				<!-- /.row -->

			</div>
			<!-- /.container-fluid -->

		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- LOGOUT Modal -->
	<div class="modal fade" role="dialog" id="offModal" tabindex="-1"
		aria-labelledby="gridSystemModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="gridSystemModalLabel">Saliendo...</h4>
				</div>
				<form method="post" th:action="@{/logout}">
					<div class="modal-body text-center">
						<h4 th:text="#{lbl.logout.confirm}">Are you sure you want to
							logout?</h4>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-warning" th:inline="text">
							[[#{lbl.btn.logout}]]</button>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<!-- jQuery -->
	<script src="js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript Local -->
	<script src="js/bootstrap.min.js"></script>


	<!-- Morris Charts JavaScript -->
	<script src="js/plugins/morris/raphael.min.js"></script>
	<script src="js/plugins/morris/morris.min.js"></script>
	<script src="js/plugins/morris/morris-data.js"></script>

	<!-- Bootstrap Core JavaScript Remote -->
	<!-- <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
	<script src="bootstrap/js/bootstrap.js"></script> -->
</body>

</html>
