<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>Consulta de Referencia</title>

<!-- Bootstrap Core CSS -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<!-- <link href="bootstrap/css/typehead.css" rel="stylesheet" /> -->
<!-- Bootstrap TABLA -->
<link rel="stylesheet"
	href="assets/bootstrap-table/src/bootstrap-table.css" />

<!-- Custom CSS-->
<link href="css/sb-admin.css" rel="stylesheet" />

<!-- Morris Charts CSS-->
<link href="css/plugins/morris.css" rel="stylesheet" />

<!-- Custom Fonts d-->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet"
	type="text/css" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<!-- wrapper -->
	<div id="wrapper">
		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/basetest" th:inline="text">[[#{project.name}]]</a>
			</div>
			<!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"><i class="fa fa-envelope"></i> <b
						class="caret"></b></a>
					<ul class="dropdown-menu message-dropdown">
						<li class="message-preview"><a href="#">
								<div class="media">
									<span class="pull-left"> <img class="media-object"
										src="http://placehold.it/50x50" alt="" />
									</span>
									<div class="media-body">
										<h5 class="media-heading" th:inline="text">
											<strong>[[${userapp.name}]]</strong>
										</h5>
										<p class="small text-muted">
											<i class="fa fa-clock-o"></i> Yesterday at 4:32 PM
										</p>
										<p>Lorem ipsum dolor sit amet, consectetur...</p>
									</div>
								</div>
						</a></li>
						<li class="message-preview"><a href="#">
								<div class="media">
									<span class="pull-left"> <img class="media-object"
										src="http://placehold.it/50x50" alt="" />
									</span>
									<div class="media-body">
										<h5 class="media-heading">
											<strong>John Smith</strong>
										</h5>
										<p class="small text-muted">
											<i class="fa fa-clock-o"></i> Yesterday at 4:32 PM
										</p>
										<p>Lorem ipsum dolor sit amet, consectetur...</p>
									</div>
								</div>
						</a></li>
						<li class="message-preview"><a href="#">
								<div class="media">
									<span class="pull-left"> <img class="media-object"
										src="http://placehold.it/50x50" alt="" />
									</span>
									<div class="media-body">
										<h5 class="media-heading">
											<strong th:text="${userapp.name}"></strong>
										</h5>
										<p class="small text-muted">
											<i class="fa fa-clock-o"></i> Yesterday at 4:32 PM
										</p>
										<p>Lorem ipsum dolor sit amet, consectetur...</p>
									</div>
								</div>
						</a></li>
						<li class="message-footer"><a href="#">Read All New
								Messages</a></li>
					</ul></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"><i class="fa fa-bell"></i> <b
						class="caret"></b></a>
					<ul class="dropdown-menu alert-dropdown">
						<li><a href="#">Alert Name <span
								class="label label-default">Alert Badge</span></a></li>
						<li><a href="#">Alert Name <span
								class="label label-primary">Alert Badge</span></a></li>
						<li><a href="#">Alert Name <span
								class="label label-success">Alert Badge</span></a></li>
						<li><a href="#">Alert Name <span class="label label-info">Alert
									Badge</span></a></li>
						<li><a href="#">Alert Name <span
								class="label label-warning">Alert Badge</span></a></li>
						<li><a href="#">Alert Name <span
								class="label label-danger">Alert Badge</span></a></li>
						<li class="divider"></li>
						<li><a href="#">View All</a></li>
					</ul></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" th:inline="text"><i class="fa fa-user"></i>
						[[${userapp.name}]]<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
						</li>
						<li><a href="#"><i class="fa fa-fw fa-envelope"></i>
								Inbox</a></li>
						<li><a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
						</li>
						<li class="divider"></li>
						<li><a href="#"><i class="fa fa-fw fa-power-off"></i> Log
								Out</a></li>
					</ul></li>
			</ul>
			<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav side-nav">
					<li class="active"><a href="index.html"><i
							class="fa fa-fw fa-dashboard"></i> Dashboard</a></li>
					<li><a href="charts.html"><i
							class="fa fa-fw fa-bar-chart-o"></i> Charts</a></li>
					<li><a href="tables.html"><i class="fa fa-fw fa-table"></i>
							Tables</a></li>
					<li><a href="forms.html"><i class="fa fa-fw fa-edit"></i>
							Forms</a></li>
					<li><a href="bootstrap-elements.html"><i
							class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a></li>
					<li><a href="bootstrap-grid.html"><i
							class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a></li>
					<li><a href="javascript:;" data-toggle="collapse"
						data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i>
							Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
						<ul id="demo" class="collapse">
							<li><a href="#">Dropdown Item</a></li>
							<li><a href="#">Dropdown Item</a></li>
						</ul></li>
					<li><a href="blank-page.html"><i class="fa fa-fw fa-file"></i>
							Blank Page</a></li>
					<li><a href="index-rtl.html"><i
							class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>

		<div id="page-wrapper">

			<div class="container-fluid">

				<!-- Page Heading -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">
							CONSULTA REFERENCIA <small></small>
						</h1>
						<ol class="breadcrumb">
							<li class="active"><i class="fa fa-dashboard"></i> Consulte
								la referencia.</li>
						</ol>
					</div>
				</div>
				<!-- /.row -->
				<div class="row">
					<!-- 					<div id="toolbar">
						<button id="remove" class="btn btn-danger" disabled="disabled">
							<i class="glyphicon glyphicon-remove"></i> Delete
						</button>
					</div>
					
 -->
					<!-- <div id="prefetch">
						<input class="typeahead" type="text" placeholder="Countries" />
					</div> -->
					<table id="table" data-toggle="table" data-toolbar="#toolbar"
						data-search="true" data-show-refresh="true"
						data-show-toggle="true" data-show-columns="true"
						data-show-export="true" data-detail-view="true"
						data-detail-formatter="detailFormatter"
						data-minimum-count-columns="2" data-show-pagination-switch="true"
						data-pagination="true" data-id-field="id"
						data-side-pagination="client"
						data-page-list="[10, 25, 50, 100, ALL]"
						data-url="apijson/tblConsultaProducto" data-sort-name="id"
						data-sort-order="desc">
						<thead>
							<!-- ADD data-fields -->
							<tr>
								<th data-field="referencia" data-sortable="true">REFERENCIA</th>
								<th data-field="descripcion" data-sortable="true">DESCRIPCION</th>
								<th data-field="cant" data-sortable="true">CANTIDAD</th>
							</tr>
						</thead>
					</table>

				</div>
				<div class="row">
					<ol class="breadcrumb">
						<li class="active"><i class="fa fa-dashboard"></i> Realice
							BOOM al producto.</li>
					</ol>
					
					<form th:action="@{/boomProducto}" method="post">
						<div>
							<div class="input-group">
								<span class="fa fa-fw fa-search" aria-hidden="true"></span> <input
									type="text" class="form-control" placeholder="Search"
									name="referencia" />
							</div>
							<button type="submit" class="btn btn-default"
								aria-label="Left Align">
								<span class="fa fa-fw fa-search" aria-hidden="true"></span>
							</button>
						</div>
					</form>
					<div th:if="${prboom != null}">
					
									<table id="table" data-toggle="table" data-toolbar="#toolbar"
						data-search="true" data-show-refresh="true"
						data-show-toggle="true" data-show-columns="true"
						data-show-export="true" data-detail-view="true"
						data-detail-formatter="detailFormatter"
						data-minimum-count-columns="2" data-show-pagination-switch="true"
						data-pagination="true" data-id-field="id"
						data-side-pagination="client"
						data-page-list="[10, 25, 50, 100, ALL]"
						th:data-url="'apijson/tblBoomProducto?referencia='+${prboom.referencia}" data-sort-name="id"
						data-sort-order="desc">
						<thead>
							<!-- ADD data-fields -->
							<tr>
								<th data-field="referencia" data-sortable="true">REFERENCIA</th>
								<th data-field="descripcion" data-sortable="true">DESCRIPCION</th>
								<th data-field="cant" data-sortable="true">CANTIDAD</th>
							</tr>
						</thead>
					</table>
					</div>

<!-- 						<table>
							<thead>
								ADD data-fields
								<tr>
									<th data-field="referencia" data-sortable="true">REFERENCIA</th>
									<th data-field="receta" data-sortable="true">RECETA</th>
									<th data-field="stock" data-sortable="true">STOCK</th>
								</tr>
							</thead>
							<tr th:each="row : ${prboom}">
								<td th:text="${prboom.referencia}"></td>
								<td th:text="${prboom.receta}"></td>
								<td th:text="${prboom.stock}"></td>
							</tr>
						</table>
 -->
				</div>

			</div>
			<!-- /.container-fluid -->

		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- 
	<script src="js/plugins/morris/raphael.min.js"></script>
	<script src="js/plugins/morris/morris.min.js"></script>
	<script src="js/plugins/morris/morris-data.js"></script>
 -->
	<!-- <script src="https://code.jquery.com/jquery.js"></script> -->
	<script src="/js/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script
		src="js/bootstrap.min.js"></script>
	<!-- <script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
	<script
		src="assets/bootstrap-table/src/extensions/editable/bootstrap-table-editable.js"></script>
	<!-- <script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.min.js"></script> -->
	<script
		src="assets/bootstrap-table/src/extensions/export/bootstrap-table-export.js"></script>
	<script
		src="assets/bootstrap-table/src/bootstrap-table.js"></script>
	<!-- SCRIPTS FOR TABLE -->
	<script src="bootstrap/js/typehead.bundle.js"></script>
	<script>
		var countries = new Bloodhound({
			datumTokenizer : Bloodhound.tokenizers.whitespace,
			queryTokenizer : Bloodhound.tokenizers.whitespace,
			// url points to a json file that contains an array of country names, see
			// https://github.com/twitter/typeahead.js/blob/gh-pages/data/countries.json
			prefetch : '/apijson/tblConsultaProducto'
		});

		// passing in `null` for the `options` arguments will result in the default
		// options being used
		$('#prefetch .typeahead').typeahead(null, {
			name : 'countries',
			source : countries
		});

		function detailFormatter(index, row) {
			var html = [];
			$.each(row, function(key, value) {
				html.push('<p><b>' + key + ':</b> ' + value + '</p>');
			});
			return html.join('');
		}
		$(window).resize(function() {
			$('#table').bootstrapTable('resetView', {
				height : getHeight()
			});
		});

		function responseHandler(res) {
			$.each(res.rows, function(i, row) {
				row.state = $.inArray(row.id, selections) !== -1;
			});
			return res;
		}

		function operateFormatter(value, row, index) {
			return [
					'<a class="like" href="javascript:void(0)" title="Like">',
					'<i class="glyphicon glyphicon-heart"></i>',
					'</a>  ',
					'<a class="remove" href="javascript:void(0)" title="Remove">',
					'<i class="glyphicon glyphicon-remove"></i>', '</a>' ]
					.join('');
		}
		function totalTextFormatter(data) {
			return 'Total';
		}
		function totalNameFormatter(data) {
			return data.length;
		}
		function totalPriceFormatter(data) {
			var total = 0;
			$.each(data, function(i, row) {
				total += +(row.price.substring(1));
			});
			return '$' + total;
		}
		function getHeight() {
			return $(window).height() - $('h1').outerHeight(true);
		}
	</script>
</body>

</html>
