<!DOCTYPE html>
<html>
<head>
<link href="../../css/bootstrap.min.css"
	rel="stylesheet" media="screen"/>
<link href="../css/animate.css" rel="stylesheet" />
<title>Insert title here</title>
</head>
<body>
	<button class="btn btn-primary animated bounce">HOLA</button>
	<span class="glyphicon glyphicon-pencil"></span>
	<br />
	<tbody th:remove="all-but-first">
		<tr th:each="domain : ${domains}">
			<td th:text="${domain.userAd}">Red chair</td>
			<td th:text="${domain.upnAd}">350</td>
			<td th:text="${domain.ipAd}">28-Jun-2013</td>
		</tr>
	</tbody>
	<script src="../js/jquery-1.11.2.js"></script>
	<script src="../js/bootstrap.min.js"></script>
</body>
</html>