<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<th:block th:include="fragments/bars :: frgLinks"></th:block>
</head>
<body>
	<!-- Modal -->
	<div class="modal fade" role="dialog" id="autoModal" tabindex="-1"
		aria-labelledby="gridSystemModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="gridSystemModalLabel" th:inline="text">[[#{msgs.welcome.to}]]
						[[#{project.name}]]</h4>
				</div>
				<form class="form-horizontal" th:action="@{/login}" method="post">
					<div class="modal-body">
						<div class="form-group">
							<label for="inputUsuario" class="col-sm-2 control-label"
								th:text="#{general.user}">Usuario</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputUsuario"
									th:placeholder="#{placeholder.user}" name="username" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-2 control-label"
								th:text="#{general.pwd}">Password</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" id="inputPassword"
									th:placeholder="#{placeholder.pwd}" name="password" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<div class="col-sm-6">
									<label th:inline="text"> <input type="checkbox"
										name="rememberme" /> [[#{msgs.remember.me}]]
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary">Sign in</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<th:block th:include="fragments/bars :: frgScripts"></th:block>

	<script type="text/javascript">
		$(window).load(function() {
			$('#autoModal').modal({
				backdrop : 'static',
				keyboard : false
			});
			$('#autoModal').modal('show');
		});
		// Focus an input inside one Modal.
		$('#autoModal').on('shown.bs.modal', function() {
			$('#inputUsuario').focus()
		})
		$('#autoModal').on('hidden.bs.modal', function(e) {
			$('#autoModal').modal({
				backdrop : 'static',
				keyboard : false
			});
			$('#autoModal').modal('show');
		});
	</script>
</body>
</html>