<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title th:text="#{index.tittle}"></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />

<!-- Le styles -->
<link href="/bootstrap/css/bootstrap.css" rel="stylesheet" />
<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
}
/* show the move cursor as the user moves the mouse over the panel header.*/
#draggablePanelList .panel-heading {
	cursor: move;
}
</style>
<link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="/bootstrap/js/html5shiv.js"></script>
    <![endif]-->

<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="/bootstrap/ico/apple-touch-icon-144-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="/bootstrap/ico/apple-touch-icon-114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="/bootstrap/ico/apple-touch-icon-72-precomposed.png" />
<link rel="apple-touch-icon-precomposed"
	href="/bootstrap/ico/apple-touch-icon-57-precomposed.png" />
<link rel="shortcut icon" href="/images/logo.ico" />
</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="brand" target="_blank" href="http://www.vertical.com.co"
					th:text="#{project.name}">Project name</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="/dashboard" th:inline="text">[[#{nav.home}]]
								<i class="icon-home icon-white"></i>
						</a></li>
						<li><a href="#about" th:inline="text">[[#{nav.about}]]</a></li>
						<li><a href="#contact" th:text="#{nav.contact}">Contact</a></li>
					</ul>
					<form class="navbar-form pull-right" method="post"
						th:action="@{/login}">
						<input class="span2" name="username" type="text"
							th:placeholder="#{lbl.username}" /> <input class="span2"
							name="password" type="password" th:placeholder="#{lbl.password}" />
						<button type="submit" class="btn" th:text="#{login.btn.login}">Sign
							in</button>
					</form>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container">

		<!-- Main hero unit for a primary marketing message or call to action -->
		<div class="hero-unit">
			<h1 th:text="#{project.name}">Hello, world!</h1>
			<p th:text="#{project.description}">This is a template for a
				simple marketing or informational website. It includes a large
				callout called the hero unit and three supporting pieces of content.
				Use it as a starting point to create something more unique.</p>
			<p>
				<a href="#" class="btn btn-info btn-large"
					th:text="#{lbl.learnmore}">Learn more &raquo;</a> 
			</p>
		</div>

		<!-- Example row of columns -->
		<div class="row">
			<div class="span4">
				<h2 th:text="#{add.module.name}">Heading</h2>
				<p th:text="#{add.module.description}">Donec id elit non mi
					porta gravida at eget metus. Fusce dapibus, tellus ac cursus
					commodo, tortor mauris condimentum nibh, ut fermentum massa justo
					sit amet risus. Etiam porta sem malesuada magna mollis euismod.
					Donec sed odio dui.</p>
				<p>
					<a class="btn" href="#" th:text="#{lbl.details}">View
						lbl.details &raquo;</a>

				</p>
			</div>
			<div class="span4">
				<h2 th:text="#{chg.module.name}">Heading</h2>
				<p th:text="#{chg.module.description}">Donec id elit non mi
					porta gravida at eget metus. Fusce dapibus, tellus ac cursus
					commodo, tortor mauris condimentum nibh, ut fermentum massa justo
					sit amet risus. Etiam porta sem malesuada magna mollis euismod.
					Donec sed odio dui.</p>
				<p>
					<a class="btn" href="#" th:text="#{lbl.details}">View
						lbl.details &raquo;</a>
				</p>
			</div>
			<div class="span4">
				<h2 th:text="#{rem.module.name}">Heading</h2>
				<p th:text="#{rem.module.description}">Donec sed odio dui. Cras
					justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum
					id ligula porta felis euismod semper. Fusce dapibus, tellus ac
					cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
					justo sit amet risus.</p>
				<p>
					<a class="btn" href="#" th:text="#{lbl.details}">View
						lbl.details &raquo;</a>
				</p>
			</div>
		</div>
		<hr />
		<footer>
			<div class="row text-center">
				<img src="/images/logo.png" />
				<p>&copy; Vertical Technologies 2015</p>
			</div>
		</footer>
	</div>
	<!-- /container -->

	<!-- LOGIN MODAL -->
	<div class="modal hide fade" id="loginModal" tabindex="-1"
		data-backdrop="static" role="dialog" aria-labelledby="basicModal"
		aria-hidden="true">
		<!-- data-backdrop="static" -->
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="row text-center">
						<img src="/images/logo.png" />
					</div>
				</div>
				<form method="post" th:action="@{/login}">
					<div class="modal-body">
						<div class="form-group text-center">
							<div class="control-group">
								<div class="controls">
									<div class="input-prepend">
										<span class="add-on"><i class="icon-user"></i></span> <input
											class="span2" id="inputUsername" name="username" type="text"
											style="text-transform: lowercase; text-align: center"
											th:placeholder="#{lbl.username}" required="required" />
									</div>
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<div class="input-prepend text-center">
										<span class="add-on"><i class="icon-lock"></i></span> <input
											class="span2" id="inputPassword" name="password"
											type="password" th:placeholder="#{lbl.password}"
											style="text-align: center" required="required" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" onclick="location.href='/'"
							class="btn btn-default" data-dismiss="modal"
							th:text="#{lbl.cancel}">Cancel</button>
						<input type="submit" class="btn btn-info"
							th:value="#{login.btn.login}" />
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- END LOGIN MODAL -->

	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/bootstrap/js/jquery.js"></script>
	<script src="/bootstrap/js/bootstrap-transition.js"></script>
	<script src="/bootstrap/js/bootstrap-alert.js"></script>
	<script src="/bootstrap/js/bootstrap-modal.js"></script>
	<script src="/bootstrap/js/bootstrap-dropdown.js"></script>
	<script src="/bootstrap/js/bootstrap-scrollspy.js"></script>
	<script src="/bootstrap/js/bootstrap-tab.js"></script>
	<script src="/bootstrap/js/bootstrap-tooltip.js"></script>
	<script src="/bootstrap/js/bootstrap-popover.js"></script>
	<script src="/bootstrap/js/bootstrap-button.js"></script>
	<script src="/bootstrap/js/bootstrap-collapse.js"></script>
	<script src="/bootstrap/js/bootstrap-carousel.js"></script>
	<script src="/bootstrap/js/bootstrap-typeahead.js"></script>
	<script>
		$(window).load(function() {
			$('#loginModal').modal('show');
		});
	</script>
</body>

</html>