<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<h1>HTTP Status 403 - Access is denied</h1>
	<h2 th:text="${msg}"></h2>
	<p>
		Click <a th:href="@{/home}" hidden="yes">here</a> to see a Dashboard.
	</p>
	
	<p>
		You will be redirected in <span id="counter">5</span> second(s).
	</p>
	<script>
		function countdown() {
			var i = document.getElementById('counter');
			var x = parseInt(i.innerHTML);
			
			if(x == 1){
				location.href='dashboard';
			}
			i.innerHTML = x - 1;
			
		}
		setInterval(function() {
			countdown();
		}, 1000);
		
	
		
	</script>
</body>
</html>