<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<th:block th:include="fragments/bars :: frgLinks"></th:block>
<th:block th:include="fragments/table :: frgLinks"></th:block>

</head>
<body>

	<div class="wrapper">

		<div class="sidebar" th:attr="data-color=${style}"
			data-image="assets/img/sidebar-5.jpg">

			<!--   
        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" 
        Tip 2: you can also add an image using data-image tag
    -->

			<div class="sidebar-wrapper">
				<div class="logo">
					<a href="/dashboard" class="simple-text" th:inline="text">[[#{project.name}]]</a>
				</div>
				<ul class="nav">
					<li><p th:text="#{page.dashboard}">
							<i class="pe-7s-graph"></i> [[#{page.name.dashboard}]]
						</p></li>
				</ul>
			</div>
		</div>
		<!-- 	<th:block th:include="fragments/modals :: frgBoomProductModal"></th:block> -->

		<div class="main-panel">
			<nav class="navbar navbar-default navbar-fixed">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#navigation-example-2">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/table" th:inline="text"> TABLE
						</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-left">
							<li><a href="#" class="dropdown-toggle"
								data-toggle="dropdown"> <i class="fa fa-dashboard"></i>
							</a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown"> <i class="fa fa-globe"></i> <b
									class="caret"></b> <span class="notification">5</span>
							</a>
								<ul th:unless="${alerts} == null" class="dropdown-menu">
									<li th:each="alert : ${alerts}" th:text="${alert.description}">Item
										description here...</li>
								</ul>
								<ul th:if="${alerts} == null" class="dropdown-menu">
									<li><a href="#" th:inline="text">No
											[[#{general.alerts}]]</a></li>
								</ul></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/testprofile"></a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" th:inline="text"> [[${userapp.name}]]
									<b class="caret"></b>
							</a>
								<ul class="dropdown-menu">
									<li><a href="/profile" th:inline="text">[[#{menu.profile}]]</a></li>
									<li class="divider"></li>
									<li><a href="#" data-toggle="modal"
										data-target="#offModal" th:inline="text">[[#{action.logout}]]</a></li>
								</ul></li>
							<li><a href="#" data-toggle="modal" data-target="#offModal"
								th:inline="text" class="btn btn-info"> [[#{action.logout}]]
							</a></li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- <th:block th:include="fragments/bars :: frgNavBar"></th:block> -->

			<!-- CONTENT -->
			<div class="content">
				<div class="container-fluid">
					<!-- Content frgOrderTable-->
					<div id="toolbar">
						<button id="remove" class="btn btn-danger" disabled="disabled">
							<i class="glyphicon glyphicon-remove"></i> Delete
						</button>
					</div>

					<table id="table" data-toggle="table" data-toolbar="#toolbar"
						data-search="true" data-show-refresh="true"
						data-show-toggle="true" data-show-columns="true"
						data-show-export="false" data-detail-view="true"
						data-detail-formatter="detailFormatter"
						data-minimum-count-columns="2" data-show-pagination-switch="true"
						data-pagination="true" data-id-field="id"
						data-page-list="[10, 25, 50, 100, ALL]" data-url="apijson/table"
						data-sort-name="id" data-sort-order="desc">

						<!-- <thead>
							ADD data-fields
							<tr>
								<th data-field="id" data-sortable="true">Item ID</th>
								<th data-field="name" data-sortable="true" data-editable="true">Item
									Name</th>
								<th data-field="price" data-sortable="true" data-editable="true">Item
									Price</th>
							</tr>
						</thead> -->
					</table>
				</div>
			</div>
			<!-- END CONTENT -->

		</div>
	</div>

	<div th:include="fragments/modals :: frgGeneralModals"></div>

	<th:block th:include="fragments/bars :: frgScripts"></th:block>
	<script src="/assets/bootstrap-table/src/extensions/editable/bootstrap-table-editable.js"></script>
    <script src="/assets/bootstrap-table/src/bootstrap-editable.js"></script>

	<!-- <th:block th:include="fragments/table :: frgScripts"></th:block> -->

	<script>
				/*

				$('#remove').click(function() {
					var ids = getIdSelections();
					$('#table').bootstrapTable('remove', {
						field : 'id',
						values : ids
					});
					$('#remove').prop('disabled', true);
				});
				 */

				/*<![CDATA[*/
				var $table = $('#table'),     $remove = $('#remove'), selections = [];
			    function initTable() {
			        $table.bootstrapTable({
			        	height: getHeight(),
			            columns: 
			                [
			                    {
			                        field: 'state',
			                        checkbox: true,
			                        rowspan: 2,
			                        align: 'center',
			                        valign: 'middle'
			                    }, {
			                        title: 'Item ID',
			                        field: 'id',
			                        rowspan: 2,
			                        align: 'center',
			                        valign: 'middle',
			                        sortable: true,
			                        footerFormatter: totalTextFormatter
			                    }, {
			                        title: 'Item Detail',
			                        colspan: 3,
			                        align: 'center'
			                    }
			               ,
			                           {
			                        field: 'name',
			                        title: 'Item Name',
			                        sortable: true,
			                        editable: true,
			                        footerFormatter: totalNameFormatter,
			                        align: 'center'
			                    }, {
			                        field: 'price',
			                        title: 'Item Price',
			                        sortable: true,
			                        align: 'center',
			                        editable: {
			                            type: 'text',
			                            title: 'Item Price',
			                            validate: function (value) {
			                                value = $.trim(value);
			                                if (!value) {
			                                    return 'This field is required';
			                                }
			                                if (!/^\$/.test(value)) {
			                                    return 'This field needs to start width $.'
			                                }
			                                var data = $table.bootstrapTable('getData'),
			                                    index = $(this).parents('tr').data('index');
			                                console.log(data[index]);
			                                return '';
			                            }
			                        },
			                        footerFormatter: totalPriceFormatter
			                    }, {
			                        field: 'operate',
			                        title: 'Item Operate',
			                        align: 'center',
			                        events: operateEvents,
			                        formatter: operateFormatter
			                    }
			              
			            ]
			        });
			        // sometimes footer render error.
			        setTimeout(function () {
			            $table.bootstrapTable('resetView');
			        }, 200);
			        $table.on('check.bs.table uncheck.bs.table ' +
			                'check-all.bs.table uncheck-all.bs.table', function () {
			            $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
			            // save your data, here just save the current page
			            selections = getIdSelections();
			            // push or splice the selections if you want to save all data selections
			        });
			        $table.on('expand-row.bs.table', function (e, index, row, $detail) {
			            if (index % 2 == 1) {
			                $detail.html('Loading from ajax request...');
			                $.get('LICENSE', function (res) {
			                    $detail.html(res.replace(/\n/g, '<br>'));
			                });
			            }
			        });
			        $table.on('all.bs.table', function (e, name, args) {
			            console.log(name, args);
			        });
			        $remove.click(function () {
			            var ids = getIdSelections();
			            $table.bootstrapTable('remove', {
			                field: 'id',
			                values: ids
			            });
			            $remove.prop('disabled', true);
			        });
			        $(window).resize(function () {
			            $table.bootstrapTable('resetView', {
			                height: getHeight()
			            });
			        });
			    }
			    function getIdSelections() {
			        return $.map($table.bootstrapTable('getSelections'), function (row) {
			            return row.id
			        });
			    }
			    function responseHandler(res) {
			        $.each(res.rows, function (i, row) {
			            row.state = $.inArray(row.id, selections) !== -1;
			        });
			        return res;
			    }
			    function detailFormatter(index, row) {
			        var html = [];
			        $.each(row, function (key, value) {
			            html.push('<p><b>' + key + ':</b> ' + value + '</p>');
			        });
			        return html.join('');
			    }
			    function operateFormatter(value, row, index) {
			        return [
			            '<a class="like" href="javascript:void(0)" title="Like">',
			            '<i class="glyphicon glyphicon-heart"></i>',
			            '</a>  ',
			            '<a class="remove" href="javascript:void(0)" title="Remove">',
			            '<i class="glyphicon glyphicon-remove"></i>',
			            '</a>'
			        ].join('');
			    }
				window.operateEvents = {
					'click .like' : function(e, value, row, index) {
						alert('You click like action, row: '
								+ JSON.stringify(row));
					},
					'click .remove' : function(e, value, row, index) {
						$table.bootstrapTable('remove', {
							field : 'id',
							values : [ row.id ]
						});
					}
				};
				function totalTextFormatter(data) {
					return 'Total';
				}
				function totalNameFormatter(data) {
					return data.length;
				}
				function totalPriceFormatter(data) {
					var total = 0;
					$.each(data, function(i, row) {
						total += +(row.price.substring(1));
					});
					return '$' + total;
				}
				function getHeight() {
					return $(window).height() - $('h1').outerHeight(true);
				}
				$(function() {
					var scripts = [
							location.search.substring(1)
									|| '/assets/bootstrap-table/src/bootstrap-table.js',
							'/assets/bootstrap-table/src/extensions/export/bootstrap-table-export.js',
							'/assets/bootstrap-table/src/tableExport.js',
							'/assets/bootstrap-table/src/extensions/editable/bootstrap-table-editable.js',
							'bootstrap-editable.js' ], eachSeries = function(
							arr, iterator, callback) {
						callback = callback || function() {
						};
						if (!arr.length) {
							return callback();
						}
						var completed = 0;
						var iterate = function() {
							iterator(arr[completed], function(err) {
								if (err) {
									callback(err);
									callback = function() {
									};
								} else {
									completed += 1;
									if (completed >= arr.length) {
										callback(null);
									} else {
										iterate();
									}
								}
							});
						};
						iterate();
					};
					eachSeries(scripts, getScript);
				});
				function getScript(url, callback) {
					var head = document.getElementsByTagName('head')[0];
					var script = document.createElement('script');
					script.src = url;
					var done = false;
					// Attach handlers for all browsers
					script.onload = script.onreadystatechange = function() {
						if (!done
								&& (!this.readyState
										|| this.readyState == 'loaded' || this.readyState == 'complete')) {
							done = true;
							if (callback)
								callback();
							// Handle memory leak in IE
							script.onload = script.onreadystatechange = null;
						}
					};
					head.appendChild(script);
					// We handle everything using the script element injection
					return undefined;
				}
				/*]]>*/
			</script>
</body>
</html>